<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinica_SOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Clinica_SOS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!--DROPDOWN START-->
                        <li class="nav-item dropdown active show">
                            <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a class="dropdown-toggle text-dark nav-link" asp-area="">Regioes</a>
                            </div>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pais" asp-action="Index">Pais</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Estado" asp-action="Index">Estado</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cidade" asp-action="Index">Cidade</a>
                            </div>
                        </li>
                        <!--DROPDOWN END-->
                        <!--DROPDOWN START-->
                        <li class="nav-item dropdown active">
                            <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a class="dropdown-toggle text-dark nav-link" asp-area="">Cadastros</a>
                            </div>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Proprietario" asp-action="Index">Proprietario</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Animal" asp-action="Index">Animal</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index">Hospital</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Veterinario" asp-action="Index">Veterinario</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Index">Consulta</a>
                            </div>
                        </li>
                        <!--DROPDOWN END-->
                        <!--DROPDOWN START-->
                        <li class="nav-item dropdown active">
                            <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a class="dropdown-toggle text-dark nav-link" asp-area="">Outros</a>
                            </div>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Especie" asp-action="Index">Especie</a>
                            </div>
                        </li>
                        <!--DROPDOWN END-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Clinica_SOS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>